$black: #000;
$white: #fff;

$primary-50: #f0f7ff;
$primary-500: #007fff;
$primary-900: #003a75;

$success-50: #e9fbf0;
$success-500: #21cc66;
$success-900: #0f5c2e;

$error-50: #fff0f1;
$error-500: #ff505f;
$error-900: #570007;

$grey-50: #f3f6f9;
$grey-200: #dae2ed;
$grey-500: #9da8b7;
$grey-900: #1c2025;
